@font-face {
    font-family: "Fredericka the Great";
    src: url("../fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AveriaLibre";
    src: url("../fonts/AveriaLibre-Regular.ttf") format("truetype");
}